.container{
  padding: 30px 30px;
  background-color: #ffffff;
  .category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .more-select{
      flex: 1;
    }
  }
  .tags_input{
    margin: 10px 0;
  }
  .p_text{
    margin-top: 6px;
    margin-left: 10px;
  }
}