.content{
  display: flex;
  padding: 30px 20px;
  background-color: #ffffff;
  justify-content: space-between;
  .button_list{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    button{
      flex: 1;
      margin: 8% 0;
    }
    button:first-child{
      margin-top: 0;
    }
    button:last-child{
      margin-bottom: 0;
    }
  }
}
.images_list{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  min-height: 300px;
  .item{
    margin-right: 18px;
    height: 90px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
  }
}
.upload_list{
  min-height: 300px;
  .button_header{
    height: 50px;
  }
}
.footer{
  display: flex;
  height: 53px;
  align-items: center;
  justify-content: center;
  button{
    margin: 30px;
  }
}
@media all and (min-width:960px) and (max-width:1200px){
  .content{
    flex-direction: column;
    justify-content: center;
    .coverImg{
      margin: 0 auto;
    }
    .button_list{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      button{
        flex: inherit;
        width: 36%;
        margin: 10px 0;
      }
      button:first-child{
        margin-top: 10px;
      }
    }
  }
}
